# Compiled class file
*.class

# Build artifacts
/build/
/dist/
CycleNestOrchestrator/build/
CycleNestOrchestrator/dist/

# Logs / OS
*.log
.DS_Store
Thumbs.db

# IDE files
/.classpath
/.project
/.settings/
/.vscode/
/.idea/
/*.iml
CycleNestOrchestrator/nbproject/private/

# Archives
*.war
*.ear
*.zip
*.tar.gz
*.rar